<div class="container-product-form">
    <h1 class="product-form-title">Editar usuario</h1>
    <div class="product-form">
        <form action="/profile/{{user.id}}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Nombre</label>
                <input type="text" class="form-control {{#if errors.name }}is-invalid{{/if}}" name="name" value="{{user.name}}">
                {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control {{#if errors.email }}is-invalid{{/if}}" name="email" value="{{user.email}}">
                {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">Imagen</label> 
                <input type="text" class="form-control {{#if errors.img }}is-invalid{{/if}}" name="img" value="{{user.img}}">
                {{#if errors.img}}<div class="invalid-feedback">{{ errors.img }}</div>{{/if}}
            </div>
            <button type="submit" class="btn btn-primary">Editar Usuario</button>
        </form>
        <a href="/profile/{{currentUser.id}}"><button class="btn btn-outline-success mt-2">Cancelar</button></a>
    </div>
</div>