<nav class="navbar navbar-expand-md bg-light"> 
    <div>
        <button class="navbar-toggler mb-1 ms-1 btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span> <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>Categorias</span>
        </button>
        <div class="collapse navbar-collapse mb-3 ms-4" id="navbarNav">
            <ul class="navbar-nav">      
                <form method="get">
                    {{#each categoryProduct as |category|}}
                        <li class="nav-item btn-group">    
                           <button class="btn btn-sm btn-outline-secondary" type="submit" name="category" value="{{category}}">{{category}}</button>
                        </li>
                    {{/each}}
                    <li class="nav-item btn-group">
                        <button class="btn btn-sm btn-outline-secondary" type="submit" name="category"><a class="index-btn-a" href="/">Todos</a></button>
                    </li>
                </form>
            </ul>
        </div>
        <form class="d-flex" method="get">
            <div class="index-btn ms-4">
                <input class="search-input" type="text" name="title" value="{{ query.title }}" placeholder="Introduce el titulo">
            </div>
            <div class="index-btn">
                <button class="btn btn-outline-success" type="submit">Buscar</button>  
            </div> 
        </form>
    </div>
</nav>

<div class="py-5" id="venue">
    <div class="container border">
        <div class="row bg-light animate-in-down">
            <div class="p-4 col-md-6 align-self-center text-color">
                <p>Siente como en casa, empecemos aprender</p>
                <h2>Descubre nuestros productos <b>{{currentUser.name}}</b></h2><br>
                <p>Ofrecemos descuentos especiales para personas con espiritu de emprendedor, ¿eres una de ellas?</p>
            </div>
            <div class="p-0 col-md-6">
                 <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="https://cdn01.alison-static.net/careers/career/computer-programmer.jpg" class="d-block w-100" alt="imagen-carrusel">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://images.squarespace-cdn.com/content/v1/5475f6eae4b0821160f6ac3e/1547489340099-59JISI69A0JXXB06ELWR/Marketing+specialist+taking+a+data+science+course.jpg" class="d-block w-100" alt="imagen-carrusel-2">
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <img src="https://www.signifytechnology.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBd3hGQlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6044d438c9af0f9c124d13c7f84ac70b6c991f47/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOT1RBd2VEa3dNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--c2f21ccfe76283a8dd7a61c6749f4ee3c5f33e43/pexels_photo_1181275.jpeg" class="d-block w-100" alt="imagen-carrusel-3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>   
            </div>
        </div>
    </div>
</div>
<div class="container-index">
    <h2>Qué servicio comprar ahora</h2>
    <h5 class="index-title-second">Nuestros servicios ofrecidos para ti</h5>
    <div class="container-index-list-product">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-xl-6 g-4">
            {{#each products as |product|}}
            {{}}
            <div class="col">
                <div class="card">
                    <img src="{{product.img}}" class="container-img-product" alt="img">
                    <div class="card-body">
                        <div class="container-product-title">
                            <h6>{{product.title}}</h6>
                        </div>
                        <small class="autor-index">Creado por: {{product.maker.name}}</small>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <small>A partir de</small>
                            <h4 class="card-text">{{product.price}}€</h4>
                            <a class="index-detail" href="/details/{{product.id}}">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}} 
        </div>
    </div>
</div>



