<div>
    <h2>{{product.category}}</h2>
    <h3>{{product.title}}</h3>
    <h4>Luis Javier Muñoz</h4>
    <small>{{product.description}}</small>
    <img class="detail-img" src="{{product.img}}">
    <h5>{{product.price}}</h5>

    <a class="btn btn-primary" href="/">Pagina principal</a>
    <form action="/product/{{product.id}}/delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>


